{% extends 'users/base_users.html' %}

{% block title %}User Login{% endblock %}

{% block extra_styles %} 
    <style>
        .container {
            max-width: 600px;
            height: fit-content;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container card">
    <h2>Login</h2>
    <form action="username" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <br>
        <div>
            <button class="btn btn-primary">
                <a href="{% url 'register' %}">Register</a>
            </button>
            <button class="btn btn-secondary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}